<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caisl.mapper.AchievementRecordMapper" >
  <resultMap id="BaseResultMap" type="com.caisl.domain.AchievementRecord" >
    <id column="achievement_record_id" property="achievementRecordId" jdbcType="VARCHAR" />
    <result column="customer_register_id" property="customerRegisterId" jdbcType="VARCHAR" />
    <result column="achievement_template_id" property="achievementTemplateId" jdbcType="VARCHAR" />
    <result column="fire_seed" property="fireSeed" jdbcType="INTEGER" />
    <result column="finish_time" property="finishTime" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="schedule" property="schedule" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="op_time" property="opTime" jdbcType="BIGINT" />
    <result column="last_ver" property="lastVer" jdbcType="INTEGER" />
    <result column="is_valid" property="isValid" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    achievement_record_id, customer_register_id, achievement_template_id, fire_seed, 
    finish_time, status, schedule, create_time, op_time, last_ver, is_valid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from achievement_record
    where achievement_record_id = #{achievementRecordId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from achievement_record
    where achievement_record_id = #{achievementRecordId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.caisl.domain.AchievementRecord" >
    insert into achievement_record (achievement_record_id, customer_register_id, 
      achievement_template_id, fire_seed, finish_time, 
      status, schedule, create_time, 
      op_time, last_ver, is_valid
      )
    values (#{achievementRecordId,jdbcType=VARCHAR}, #{customerRegisterId,jdbcType=VARCHAR}, 
      #{achievementTemplateId,jdbcType=VARCHAR}, #{fireSeed,jdbcType=INTEGER}, #{finishTime,jdbcType=BIGINT}, 
      #{status,jdbcType=SMALLINT}, #{schedule,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{opTime,jdbcType=BIGINT}, #{lastVer,jdbcType=INTEGER}, #{isValid,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.caisl.domain.AchievementRecord" >
    insert into achievement_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="achievementRecordId != null" >
        achievement_record_id,
      </if>
      <if test="customerRegisterId != null" >
        customer_register_id,
      </if>
      <if test="achievementTemplateId != null" >
        achievement_template_id,
      </if>
      <if test="fireSeed != null" >
        fire_seed,
      </if>
      <if test="finishTime != null" >
        finish_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="schedule != null" >
        schedule,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="opTime != null" >
        op_time,
      </if>
      <if test="lastVer != null" >
        last_ver,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="achievementRecordId != null" >
        #{achievementRecordId,jdbcType=VARCHAR},
      </if>
      <if test="customerRegisterId != null" >
        #{customerRegisterId,jdbcType=VARCHAR},
      </if>
      <if test="achievementTemplateId != null" >
        #{achievementTemplateId,jdbcType=VARCHAR},
      </if>
      <if test="fireSeed != null" >
        #{fireSeed,jdbcType=INTEGER},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="schedule != null" >
        #{schedule,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="opTime != null" >
        #{opTime,jdbcType=BIGINT},
      </if>
      <if test="lastVer != null" >
        #{lastVer,jdbcType=INTEGER},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.caisl.domain.AchievementRecord" >
    update achievement_record
    <set >
      <if test="customerRegisterId != null" >
        customer_register_id = #{customerRegisterId,jdbcType=VARCHAR},
      </if>
      <if test="achievementTemplateId != null" >
        achievement_template_id = #{achievementTemplateId,jdbcType=VARCHAR},
      </if>
      <if test="fireSeed != null" >
        fire_seed = #{fireSeed,jdbcType=INTEGER},
      </if>
      <if test="finishTime != null" >
        finish_time = #{finishTime,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="schedule != null" >
        schedule = #{schedule,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="opTime != null" >
        op_time = #{opTime,jdbcType=BIGINT},
      </if>
      <if test="lastVer != null" >
        last_ver = #{lastVer,jdbcType=INTEGER},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=TINYINT},
      </if>
    </set>
    where achievement_record_id = #{achievementRecordId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.caisl.domain.AchievementRecord" >
    update achievement_record
    set customer_register_id = #{customerRegisterId,jdbcType=VARCHAR},
      achievement_template_id = #{achievementTemplateId,jdbcType=VARCHAR},
      fire_seed = #{fireSeed,jdbcType=INTEGER},
      finish_time = #{finishTime,jdbcType=BIGINT},
      status = #{status,jdbcType=SMALLINT},
      schedule = #{schedule,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      op_time = #{opTime,jdbcType=BIGINT},
      last_ver = #{lastVer,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=TINYINT}
    where achievement_record_id = #{achievementRecordId,jdbcType=VARCHAR}
  </update>
</mapper>