<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caisl.mapper.AchievementTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.caisl.domain.AchievementTemplate" >
    <id column="achievement_template_id" property="achievementTemplateId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="name_code" property="nameCode" jdbcType="VARCHAR" />
    <result column="context" property="context" jdbcType="VARCHAR" />
    <result column="context_code" property="contextCode" jdbcType="VARCHAR" />
    <result column="reward" property="reward" jdbcType="VARCHAR" />
    <result column="schedule_desc" property="scheduleDesc" jdbcType="VARCHAR" />
    <result column="achievement_package_id" property="achievementPackageId" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="BIGINT" />
    <result column="end_time" property="endTime" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="op_time" property="opTime" jdbcType="BIGINT" />
    <result column="last_ver" property="lastVer" jdbcType="INTEGER" />
    <result column="is_valid" property="isValid" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.caisl.domain.AchievementTemplate" extends="BaseResultMap" >
    <result column="conditions" property="conditions" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    achievement_template_id, name, name_code, context, context_code, reward, schedule_desc, 
    achievement_package_id, start_time, end_time, create_time, op_time, last_ver, is_valid
  </sql>
  <sql id="Blob_Column_List" >
    conditions
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from achievement_template
    where achievement_template_id = #{achievementTemplateId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from achievement_template
    where achievement_template_id = #{achievementTemplateId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.caisl.domain.AchievementTemplate" >
    insert into achievement_template (achievement_template_id, name, name_code, 
      context, context_code, reward, 
      schedule_desc, achievement_package_id, start_time, 
      end_time, create_time, op_time, 
      last_ver, is_valid, conditions
      )
    values (#{achievementTemplateId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{nameCode,jdbcType=VARCHAR}, 
      #{context,jdbcType=VARCHAR}, #{contextCode,jdbcType=VARCHAR}, #{reward,jdbcType=VARCHAR}, 
      #{scheduleDesc,jdbcType=VARCHAR}, #{achievementPackageId,jdbcType=VARCHAR}, #{startTime,jdbcType=BIGINT}, 
      #{endTime,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{opTime,jdbcType=BIGINT}, 
      #{lastVer,jdbcType=INTEGER}, #{isValid,jdbcType=TINYINT}, #{conditions,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.caisl.domain.AchievementTemplate" >
    insert into achievement_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="achievementTemplateId != null" >
        achievement_template_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="nameCode != null" >
        name_code,
      </if>
      <if test="context != null" >
        context,
      </if>
      <if test="contextCode != null" >
        context_code,
      </if>
      <if test="reward != null" >
        reward,
      </if>
      <if test="scheduleDesc != null" >
        schedule_desc,
      </if>
      <if test="achievementPackageId != null" >
        achievement_package_id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="opTime != null" >
        op_time,
      </if>
      <if test="lastVer != null" >
        last_ver,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="conditions != null" >
        conditions,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="achievementTemplateId != null" >
        #{achievementTemplateId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameCode != null" >
        #{nameCode,jdbcType=VARCHAR},
      </if>
      <if test="context != null" >
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="contextCode != null" >
        #{contextCode,jdbcType=VARCHAR},
      </if>
      <if test="reward != null" >
        #{reward,jdbcType=VARCHAR},
      </if>
      <if test="scheduleDesc != null" >
        #{scheduleDesc,jdbcType=VARCHAR},
      </if>
      <if test="achievementPackageId != null" >
        #{achievementPackageId,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=BIGINT},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="opTime != null" >
        #{opTime,jdbcType=BIGINT},
      </if>
      <if test="lastVer != null" >
        #{lastVer,jdbcType=INTEGER},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=TINYINT},
      </if>
      <if test="conditions != null" >
        #{conditions,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.caisl.domain.AchievementTemplate" >
    update achievement_template
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameCode != null" >
        name_code = #{nameCode,jdbcType=VARCHAR},
      </if>
      <if test="context != null" >
        context = #{context,jdbcType=VARCHAR},
      </if>
      <if test="contextCode != null" >
        context_code = #{contextCode,jdbcType=VARCHAR},
      </if>
      <if test="reward != null" >
        reward = #{reward,jdbcType=VARCHAR},
      </if>
      <if test="scheduleDesc != null" >
        schedule_desc = #{scheduleDesc,jdbcType=VARCHAR},
      </if>
      <if test="achievementPackageId != null" >
        achievement_package_id = #{achievementPackageId,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=BIGINT},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="opTime != null" >
        op_time = #{opTime,jdbcType=BIGINT},
      </if>
      <if test="lastVer != null" >
        last_ver = #{lastVer,jdbcType=INTEGER},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=TINYINT},
      </if>
      <if test="conditions != null" >
        conditions = #{conditions,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where achievement_template_id = #{achievementTemplateId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.caisl.domain.AchievementTemplate" >
    update achievement_template
    set name = #{name,jdbcType=VARCHAR},
      name_code = #{nameCode,jdbcType=VARCHAR},
      context = #{context,jdbcType=VARCHAR},
      context_code = #{contextCode,jdbcType=VARCHAR},
      reward = #{reward,jdbcType=VARCHAR},
      schedule_desc = #{scheduleDesc,jdbcType=VARCHAR},
      achievement_package_id = #{achievementPackageId,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=BIGINT},
      end_time = #{endTime,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      op_time = #{opTime,jdbcType=BIGINT},
      last_ver = #{lastVer,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=TINYINT},
      conditions = #{conditions,jdbcType=LONGVARCHAR}
    where achievement_template_id = #{achievementTemplateId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.caisl.domain.AchievementTemplate" >
    update achievement_template
    set name = #{name,jdbcType=VARCHAR},
      name_code = #{nameCode,jdbcType=VARCHAR},
      context = #{context,jdbcType=VARCHAR},
      context_code = #{contextCode,jdbcType=VARCHAR},
      reward = #{reward,jdbcType=VARCHAR},
      schedule_desc = #{scheduleDesc,jdbcType=VARCHAR},
      achievement_package_id = #{achievementPackageId,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=BIGINT},
      end_time = #{endTime,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      op_time = #{opTime,jdbcType=BIGINT},
      last_ver = #{lastVer,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=TINYINT}
    where achievement_template_id = #{achievementTemplateId,jdbcType=VARCHAR}
  </update>
</mapper>