<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caisl.mapper.SignRecordMapper" >
  <resultMap id="BaseResultMap" type="com.caisl.domain.SignRecord" >
    <id column="sign_record_id" property="signRecordId" jdbcType="VARCHAR" />
    <result column="customer_register_id" property="customerRegisterId" jdbcType="VARCHAR" />
    <result column="sign_date" property="signDate" jdbcType="BIGINT" />
    <result column="sign_total_number" property="signTotalNumber" jdbcType="INTEGER" />
    <result column="sign_continue_number" property="signContinueNumber" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="last_ver" property="lastVer" jdbcType="INTEGER" />
    <result column="is_valid" property="isValid" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    sign_record_id, customer_register_id, sign_date, sign_total_number, sign_continue_number, 
    create_time, update_time, last_ver, is_valid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sign_record
    where sign_record_id = #{signRecordId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sign_record
    where sign_record_id = #{signRecordId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.caisl.domain.SignRecord" >
    insert into sign_record (sign_record_id, customer_register_id, 
      sign_date, sign_total_number, sign_continue_number, 
      create_time, update_time, last_ver, 
      is_valid)
    values (#{signRecordId,jdbcType=VARCHAR}, #{customerRegisterId,jdbcType=VARCHAR}, 
      #{signDate,jdbcType=BIGINT}, #{signTotalNumber,jdbcType=INTEGER}, #{signContinueNumber,jdbcType=SMALLINT}, 
      #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, #{lastVer,jdbcType=INTEGER}, 
      #{isValid,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.caisl.domain.SignRecord" >
    insert into sign_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="signRecordId != null" >
        sign_record_id,
      </if>
      <if test="customerRegisterId != null" >
        customer_register_id,
      </if>
      <if test="signDate != null" >
        sign_date,
      </if>
      <if test="signTotalNumber != null" >
        sign_total_number,
      </if>
      <if test="signContinueNumber != null" >
        sign_continue_number,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="lastVer != null" >
        last_ver,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="signRecordId != null" >
        #{signRecordId,jdbcType=VARCHAR},
      </if>
      <if test="customerRegisterId != null" >
        #{customerRegisterId,jdbcType=VARCHAR},
      </if>
      <if test="signDate != null" >
        #{signDate,jdbcType=BIGINT},
      </if>
      <if test="signTotalNumber != null" >
        #{signTotalNumber,jdbcType=INTEGER},
      </if>
      <if test="signContinueNumber != null" >
        #{signContinueNumber,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="lastVer != null" >
        #{lastVer,jdbcType=INTEGER},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.caisl.domain.SignRecord" >
    update sign_record
    <set >
      <if test="customerRegisterId != null" >
        customer_register_id = #{customerRegisterId,jdbcType=VARCHAR},
      </if>
      <if test="signDate != null" >
        sign_date = #{signDate,jdbcType=BIGINT},
      </if>
      <if test="signTotalNumber != null" >
        sign_total_number = #{signTotalNumber,jdbcType=INTEGER},
      </if>
      <if test="signContinueNumber != null" >
        sign_continue_number = #{signContinueNumber,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="lastVer != null" >
        last_ver = #{lastVer,jdbcType=INTEGER},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=TINYINT},
      </if>
    </set>
    where sign_record_id = #{signRecordId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.caisl.domain.SignRecord" >
    update sign_record
    set customer_register_id = #{customerRegisterId,jdbcType=VARCHAR},
      sign_date = #{signDate,jdbcType=BIGINT},
      sign_total_number = #{signTotalNumber,jdbcType=INTEGER},
      sign_continue_number = #{signContinueNumber,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      last_ver = #{lastVer,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=TINYINT}
    where sign_record_id = #{signRecordId,jdbcType=VARCHAR}
  </update>
</mapper>