<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.achievement.dao.mapper.AchievementTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.achievement.dataobject.AchievementTemplate" >
    <id column="achievement_template_id" property="achievementTemplateId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="name_code" property="nameCode" jdbcType="VARCHAR" />
    <result column="context" property="context" jdbcType="VARCHAR" />
    <result column="context_code" property="contextCode" jdbcType="VARCHAR" />
    <result column="reward" property="reward" jdbcType="VARCHAR" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="achievement_package_id" property="achievementPackageId" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="BIGINT" />
    <result column="end_time" property="endTime" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="op_time" property="opTime" jdbcType="BIGINT" />
    <result column="last_ver" property="lastVer" jdbcType="INTEGER" />
    <result column="is_valid" property="isValid" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.achievement.dataobject.AchievementTemplate" extends="BaseResultMap" >
    <result column="conditions" property="conditions" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    achievement_template_id, name, name_code, context, context_code, reward, pic_url, 
    achievement_package_id, start_time, end_time, create_time, op_time, last_ver, is_valid
  </sql>
  <sql id="Blob_Column_List" >
    conditions
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from achievement_template
    where achievement_template_id = #{achievementTemplateId,jdbcType=VARCHAR}
    and is_valid = 1
  </select>
  <select id="selectByPackageId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from achievement_template where
    <if test="achievementPackageId != '' " >
    achievement_package_id = #{achievementPackageId,jdbcType=VARCHAR} and
    </if>
    is_valid = 1
  </select>
  <select id="selectByTemplateIdList" parameterType="java.util.List" resultMap="ResultMapWithBLOBs">
    select <include refid="Base_Column_List"/>,
           <include refid="Blob_Column_List"/>
    from   achievement_template
    where  achievement_template_id in
           <foreach collection="list" item="templateId" open="(" separator="," close=")">
             #{templateId}
           </foreach>
    and    is_valid = 1
  </select>
</mapper>